#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  color:white
}
.mi-boton {
  width: 100px;
  height: 30px;
}
.square{
  border: rgb(112, 3, 106) 5px solid;
  background-color: rgb(243, 243, 248);
  padding: 3rem;
/*   width: 100px;
  height: 30px; */
  font-weight: bolder; 
  font-size: 30px;
  color: rgb(117, 19, 102);
  text-align: center;
  width: 100px;
  height: 40px;
  position: relative;
  left: 0;
  top: 0;
}
.status{
  border: 20px;
  color: white;
  font-weight: bolder; 
  font-size: 30px;
}

.board-row{
 
  padding: 5px;
}
/* .game{
  padding: 2rem;
  border: red 5px solid;

} */
.game-board{
  padding: 2rem;
  background-color: rgb(98, 47, 83);
}
/* .game-info{
  
} */
